<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Ch10::index</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script th:src="@{/js/user1.js}"></script>
	<script th:src="@{/js/user2.js}"></script>
	<script th:src="@{/js/user3.js}"></script>
	</head>
	<body>
		<h3>Ch10.Spring REST API</h3>
		
		<h4>User1</h4>
		<!--
			GET :    /user1
			GET :    /user1/{id}
			POST :   /user1
			PUT :    /user1
			DELETE : /user1/{id}
		-->
		<button id="btnUser1s">목록</button>
		<button id="btnUser1">조회</button>
		<button id="btnUser1Register">등록</button>
		<button id="btnUser1Modify">수정</button>
		<button id="btnUser1Delete">삭제</button>
		
		<h4>User2</h4>
		<button id="btnUser2s">목록</button>
		<button id="btnUser2">조회</button>
		<button id="btnUser2Register">등록</button>
		<button id="btnUser2Modify">수정</button>
		<button id="btnUser2Delete">삭제</button>
		
		<h4>User3</h4>
		<button id="btnUser3s">목록</button>
		<button id="btnUser3">조회</button>
		<button id="btnUser3Register">등록</button>
		<button id="btnUser3Modify">수정</button>
		<button id="btnUser3Delete">삭제</button>

	</body>
</html>