<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>User1::register</title>
	</head>
	<body>
		<h3>User1 등록</h3>
		
		<a th:href="@{/index}">메인</a>
		<a th:href="@{/User1/list}">목록</a>
		
		<form th:action="@{/User1/register}" method="post">
		<table border="1">
			<tr>
				<td>아이디</td>
				<td><input type="text" name="uid"/></td>
			</tr>
			<tr>
				<td>이름</td>
				<td><input type="text" name="name"/></td>
			</tr>
			<tr>
				<td>휴대폰</td>
				<td><input type="tel" name="hp"/></td>
			</tr>
			<tr>
				<td>나이</td>
				<td><input type="text" name="age"/></td>
			</tr>
			<tr>
				<td colspan="2" align="right"><input type="submit" value="등록하기"/></td>
			</tr>
		</table>
		</form>
	</body>
</html>