<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<head>
		<meta charset="UTF-8">
		<title>Ch09::index</title>
	</head>	
	<body>
		<h3>Ch09.Spring Security 실습</h3>
		
		
		<h4>인증 테스트</h4>
		<th:block sec:authorize="isAnonymous()"> <!--로그인 안했으면-->
			<a th:href="@{/user/register}">User 회원가입</a>
			<a th:href="@{/user/login}">User 로그인</a>
		</th:block>
		<th:block sec:authorize="isAuthenticated()"> <!--로그인 했으면-->
			<a th:href="@{/user/logout}">로그아웃</a>
		</th:block>
		
		
		<h4>인가 테스트</h4>
		<th:block sec:authorize="hasRole('ADMIN')"> <!--관리자로 로그인 했으면-->
			<a th:href="@{/admin/index}">관리자 페이지</a>
		</th:block>
		<th:block sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"> <!--관리자,매니저 로그인 했으면-->
			<a th:href="@{/manager/index}">매니저 페이지</a>
		</th:block>
		
	</body>
</html>