<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Ch07::index</title>
	</head>
	<body>
		<h3>Ch07.Spring Boot 실습</h3>
		
		<h4>Thymeleaf 기본 출력</h4>
		<p>str1 : [[${str1}]]</p>
		<p th:text="${str2}">str2 출력</p>
		
		<h4>Thymeleaf 조건문</h4>
		<p>
			<span th:if="${user1.name == '홍길동'}">user1은 홍길동입니다.</span>
			<span th:if="${user1.name == '김유신'}">user1은 김유신입니다.</span>
		</p>
		<p>
			<span th:if="${user2}">user2는 참 입니다.</span>
			<span th:unless="${user2}">user2는 거짓 입니다.</span>
		</p>
		<p> <!--if, else-->
			<span th:if="${user4}">user4는 참 입니다.</span>
			<span th:unless="${user4}">user4는 거짓 입니다.</span>
		</p>
		<p th:switch="${user3.age} >= 3">
			<span th:case="true">[[${user3.name}]]는 3세 이상입니다.</span>
			<span th:case="false">[[${user3.name}]]는 3세 미만입니다.</span>
		</p>

		<h4>Thymeleaf 반복문</h4>
		<table border="1">
			<tr>
				<th>아이디</th>
				<th>이름</th>
				<th>휴대폰</th>
				<th>나이</th>
			</tr>
			<tr th:each="user:${users}">
				<th th:text="${user.uid}">아이디</th>
				<th th:text="${user.name}">이름</th>
				<th>[[${user.hp}]]</th>
				<th>[[${user.age}]]</th>
			</tr>
		</table>

		<h4>Thymeleaf 링크</h4> <!--배포 시 context-path 빼고-->
		<a th:href="@{/include}">include 실습</a>
		<a th:href="@{/layout}">layout 실습</a>
		
		<h4>User6 수행평가</h4>
		<a th:href="@{/User6/register}">user6 등록</a>
		<a th:href="@{/User6/list}">user6 목록</a>
	</body>
</html>