<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>User6::register</title>
	</head>
	<body>
		<h3>User6 등록</h3>
		<a th:href="@{/}">메인</a>
		<a th:href="@{/User6/list}">목록</a>
		
		<form th:action="@{/User6/register}" method="post">
		<table border="1">
			<tr>
				<td>아이디</td>
				<td><input type="text" name="uid"/></td>
			</tr>
			<tr>
				<td>이름</td>
				<td><input type="text" name="name"/></td>
			</tr>
			<tr>
				<td>생년월일</td>
				<td><input type="date" name="birth"/></td>
			</tr>
			<tr>
				<td>성별</td>
				<td>
				<input type="radio" id="M" name="gender" value="M">
 				<label for="M">M</label>
  				<input type="radio" id="F" name="gender" value="F">
  				<label for="F">F</label>
				</td>
			</tr>
			<tr>
				<td>나이</td>
				<td><input type="text" name="age"/></td>
			</tr>
			<tr>
				<td>주소</td>
				<td>
				<select name="addr">
					<option value="서울" selected>서울</option>
					<option value="강릉">강릉</option>
					<option value="대전">대전</option>
					<option value="대구">대구</option>
					<option value="광주">광주</option>
					<option value="부산">부산</option>
					<option value="진주">진주</option>
					<option value="울산">울산</option>
				</select>
				</td>
			</tr>
			<tr>
				<td>휴대폰</td>
				<td><input type="tel" name="hp"/></td>
			</tr>
			<tr>
				<td colspan="2" align="right"><input type="submit" value="등록하기"/></td>
			</tr>
		</table>
		</form>
	</body>
</html>