<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Ch08::index</title>
	</head>
	<body>
		<h3>Ch08. Spring JPA 실습</h3>
		
		<h4>JPA 기본 메서드 실습</h4>
		<a th:href="@{/User1/register}">User1 등록</a>
		
		<h4>JPA 쿼리 메서드 실습</h4>
		<a th:href="@{/query1}">Query1</a><br>
		<a th:href="@{/query2}">Query2</a><br>
		<a th:href="@{/query3}">Query3</a><br>
		<a th:href="@{/query4}">Query4</a><br>
		<a th:href="@{/query5}">Query5</a><br>
		<a th:href="@{/query6}">Query6</a><br>
		<a th:href="@{/query7}">Query7</a><br>
		<a th:href="@{/query8}">Query8</a><br>
		<a th:href="@{/query9}">Query9</a><br>
		<a th:href="@{/query10}">Query10</a><br>
		<a th:href="@{/query11}">Query11</a><br>
		<a th:href="@{/query12}">Query12</a><br>
		<a th:href="@{/query13}">Query13</a><br>
		<a th:href="@{/query14}">Query14</a><br>
		<a th:href="@{/query15}">Query15</a><br>
		<a th:href="@{/query16}">Query16</a><br>
		<a th:href="@{/query17}">Query17</a><br>
		<a th:href="@{/query18}">Query18</a><br>
		<a th:href="@{/query19}">Query19</a><br>
		<a th:href="@{/query20}">Query20</a><br>
		<a th:href="@{/query21}">Query21</a><br>
		<a th:href="@{/query22}">Query22</a><br>
		<a th:href="@{/query23}">Query23</a>

		
		<h4>JPA 연관관계 실습</h4>
		<a th:href="@{/User1/register}">User1 등록</a>
		
	</body>
</html>